@import "../../scss/variables";

.uniqueOfferCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: $yellow;
  height: 40.8rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  &__texts {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: end;
    align-items: center;

    .uniqueOfferCard__title {
      font-weight: 500;
      color: $black;
      font-size: 2rem;
      margin-bottom: .5rem;

      @media (min-width: 992px) {
        text-align: start;
        margin-bottom: 1rem;
        font-size: 2.4rem;
      }
    }

    .uniqueOfferCard__second-title {
      font-size: 1.8rem;
      //margin: 0;
      margin-bottom: 2rem;

      @media (min-width: 992px) {
        text-align: start;
        margin-bottom: 3rem;
        font-weight: 500;
        width: 24rem;
      }
    }

    .uniqueOfferCard__button {
      width: 24.2rem;
      height: 4.5rem;
      background: transparent;
      border: .2rem solid $black;
      font-size: 1.6em;
      padding: 1.25rem 0;
      line-height: 1;
      text-align: center;
      cursor: pointer;
    }
  }

  img {
    height: auto;
    width: 28rem;
    object-fit: cover;

    @media (min-width: 992px) {
      order: 2;
    }
  }

  @media (min-width: 576px) {
    flex-basis: 45%;
  }

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    height: 28.7rem;
    width: 50%;
    margin-bottom: 0;
    padding: 2rem 5rem;
  }


  &:nth-child(3) {
    background: $blue-darken;

    p, .uniqueOfferCard__button {
      color: $white;
    }

    .uniqueOfferCard__button {
      border-color: $white;
    }
  }
}

