@import "../../../scss/mixins";

.loader-wrapper {
  @include loading;
  border: .2rem solid $black;

  &:before {
    content: "";
    border-bottom-color: $black;
    border-right-color: rgba($black, 0);
    border-top-color: rgba($black, 0);
    border-left-color: rgba($black, 0);
    animation: rotate-animation 1s linear infinite;
  }

  .loader {
    @include loading;
    border: .2rem solid $black;
    width: 18.5rem;
    height: 18.5rem;
    padding: 2rem;

    &:before {
      content: "";
      border-bottom-color: $black;
      border-right-color: rgba($black, 0);
      border-top-color: rgba($black, 0);
      border-left-color: rgba($black, 0);
      width: 17.4rem;
      height: 17.4rem;
      top: 2.4rem;
      left: 2.3rem;
      transform: rotate(30deg);
      animation: anti-rotate-animation 1s linear infinite;
    }
  }
}