@import "../../../scss/variables";

.slider {
  overflow: hidden;

  &__inner {
    transition: all .5s ease-in-out;
    display: flex;
    z-index: -9;
  }

  &__navigation {
    width: 100%;
    margin: 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    z-index: 99;
    position: relative;

    .slider__arrow {
      color: $white;
      cursor: pointer;
    }

    .slider__pagination {
      height: 2.2rem;
      display: flex;
      align-items: center;
      overflow: hidden;

      span {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: $white;
        margin: 0 1.2rem;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &.active {
          width: 1.5rem;
          height: 1.5rem;
          border: .3rem solid $blue-darken;
          outline: .2rem solid $white;

          @media (min-width: 992px) {
            width: 2.1rem;
            height: 2.1rem;
          }
        }

        @media (min-width: 992px) {
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      @media (min-width: 992px) {
        height: 3rem;
      }
    }

    @media (min-width: 992px) {
      font-size: 3.6rem;
    }
  }
}