.play {
  z-index: 3;
  position: absolute;
  bottom: 7.2rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 1s ease;
}
.play.playing {
  opacity: 0;
}
.play.playing:hover {
  opacity: 0.5;
}
.play__outer {
  width: 23.9rem;
  height: 23.9rem;
  border-radius: 100%;
  border: 0.2rem solid #FFFFFF;
  padding: 2.4rem;
  z-index: -1;
}
.play__outer:before {
  content: "";
  display: block;
  position: absolute;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 100%;
  width: 22.8rem;
  height: 22.8rem;
  border-bottom-color: #FFFFFF;
  border-right-color: rgba(255, 255, 255, 0);
  border-top-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  top: -0.25rem;
  left: -0.3rem;
  z-index: -1;
  animation: anti-rotate-animation 1s linear 0s;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.play__outer.active-outer:before {
  animation: rotate-animation 1s linear 0s;
}
.play__outer .play__middle {
  width: 23.9rem;
  height: 23.9rem;
  border-radius: 100%;
  border: 0.2rem solid #FFFFFF;
  padding: 2.4rem;
  z-index: -1;
  width: 18.5rem;
  height: 18.5rem;
  padding: 2rem;
}
.play__outer .play__middle:before {
  content: "";
  display: block;
  position: absolute;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 100%;
  width: 22.8rem;
  height: 22.8rem;
  border-bottom-color: #FFFFFF;
  border-right-color: rgba(255, 255, 255, 0);
  border-top-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  top: -0.25rem;
  left: -0.3rem;
  z-index: -1;
  animation: anti-rotate-animation 1s linear 0s;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.play__outer .play__middle:before {
  content: "";
  width: 17.4rem;
  height: 17.4rem;
  top: 2.4rem;
  left: 2.3rem;
  transform: rotate(30deg);
  animation: rotate-animation 1s linear 0s;
}
.play__outer .play__middle.active-middle:before {
  animation: anti-rotate-animation 1s linear 0s;
}
.play__outer .play__middle .play__inner {
  width: 14.2rem;
  height: 14.2rem;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 4.8rem;
  cursor: pointer;
  z-index: 80;
}
.play__outer .play__middle .play__inner:hover {
  background: rgba(201, 204, 213, 0.6);
}
.play__outer .play__middle .play__inner:active {
  background: rgba(148, 151, 156, 0.6);
  box-shadow: 0 0 25px rgba(201, 204, 213, 0.6) inset;
}
.play__outer .play__middle .play__inner .play__triangle, .play__outer .play__middle .play__inner .play__pause {
  color: #FFFFFF;
  font-size: 4rem;
}
.play__outer .play__middle .play__inner .play__triangle {
  margin-left: 0.4rem;
}
@media (min-width: 992px) {
  .play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=style.css.map */
