@import "variables";

@mixin call-button {
  background: $yellow;
  outline: none;
  border: none;
  color: $black;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}

@mixin call-button_lg {
  width: 16.7rem;
  height: 4.5rem;
  line-height: 2rem;
}

@mixin call-button_sm {
  width: calc(3.2rem + .4rem);
  height: calc(3.2rem + .4rem);
  padding-top: .5rem;
}

@mixin burger {
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem .9rem;
  cursor: pointer;
}

@mixin loading {
  width: 23.9rem;
  height: 23.9rem;
  border-radius: 100%;
  border: .2rem solid $white;
  padding: 2.4rem;
  z-index: -1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    border-width: .8rem;
    border-style: solid;
    border-radius: 100%;
    width: 22.8rem;
    height: 22.8rem;
    border-bottom-color: $white;
    border-right-color: rgba($white, 0);
    border-top-color: rgba($white, 0);
    border-left-color: rgba($white, 0);
    top: -.25rem;
    left: -.3rem;
    z-index: -1;
    animation: anti-rotate-animation 1s linear 0s;
  }

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
}